<h2><?= $title ?></h2>
<?php

if ($_SESSION['membre'] && $_SESSION['membre']->isAdmin()):
?>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Identité</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>                
            </thead>
            <tbody>
                <?php foreach($membres as $membre) :
                    if($membre->getField('civilite') == 'm') $civilite = "M";
                    else $civilite = 'Mme';
                        ?>
                    <tr>
                        <td><?= $membre->getField('id_membre') ?></td>
                        <td><?= $membre->getField('pseudo') ?></td>
                        <td><?= $civilite.' '.$membre->getField('nom').' '.$membre->getField('prenom') ?></td>
                        <td><a href="mailto:<?= $membre->getField('email') ?>"><?= $membre->getField('email') ?></a></td>
                        <td><?= $membre->getField('adresse').' '.$membre->getField('code_postal').' '.$membre->getField('ville') ?></td>
                        <td><?= ($membre->getField('statut') == 1 ) ? 'Admin' : 'Membre' ?></td>
                       
                        <td>
                            <?php if ( $membre->getField('id_membre') != $_SESSION['membre']->getField('id_membre')) : ?>
                            <a href="<?= $url ?>membre/editStatut/<?= $membre->getField('id_membre') ?>">
                        <i class="fa fa-<?= ($membre->getField('statut') == 1) ? 'level-down-alt' : 'level-up-alt' ?>"></i></a>
                            <?php else : ?>
                                <i class="fa fa-star"></i>
                            <?php endif ?>
                    </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php
endif;